</body>
<script>
document.querySelector('#find-me2').addEventListener('click', getLoc);
document.querySelector("#sharelocation").addEventListener("click", shareLoc);
document.querySelector("#copylocation").addEventListener("click", copyLoc);
</script>
<textarea style="display: absolute; width: 0; height: 0; top: 200; left: 0; border:none; resize: none;" readonly></textarea>
</html>