</body>
<script>
document.querySelector('#find-me2').addEventListener('click', getLoc);
document.querySelector("#find-me-live").addEventListener("click", getLiveLoc);
document.querySelector("#sharelocation").addEventListener("click", shareLoc);
const sharelocationbutton = document.querySelector("#sharelocation");
document.querySelector("#copylocation").addEventListener("click", copyLoc);
const copylocationbutton = document.querySelector("#copylocation");
</script>
</html>