<div>
  <iframe
    width="425"
    height="350"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.openstreetmap.org/export/embed.html?bbox=18.503766059875492%2C59.52944634581424%2C18.508207798004154%2C59.531374963563266&amp;layer=mapnik"
    style="border: 1px solid black"
  ></iframe
  ><br /><small
    ><a href="https://www.openstreetmap.org/#map=18/59.53041/18.50599"
      >View Larger Map</a
    ></small
  >
</div>
