<div class="main">
  <div>
    <h2 class="dog">🐕 </h2>
    <h2> Share Location</h2>
  </div>
  <div id="map"></div>
  <div>
    <button id="find-me2">Get Location</button>
    <button id="sharelocation">Share Location</button>
    <button id="copylocation">Copy Location to Clipboard</button>
  </div>
  <div>
    <p style="display: block; color: #ba9e34;" id="shareurl"></p>
  </div>
</div>

<script>
  let currLatitude
  let currLongitude

  function getLoc() {
  if (navigator.geolocation) {
    // timeout at 60000 milliseconds (60 seconds)
    const options = {timeout:60000};
    navigator.geolocation.getCurrentPosition(success, error, options);
  } else {
    alert("Geolocation is not supported by this browser");
  }

  function success(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;
    getMap(latitude, longitude);
    document.querySelector('#find-me2').style.display = "none"
    document.querySelector("#sharelocation").style.display = "flex"
    document.querySelector("#copylocation").style.display = "flex"
  }
  function error() {
    alert("Unable to retrieve location");
  }

  function getMap(latitude, longitude) {
    let customIcon = {
      iconUrl:"/dogface.png",
      iconSize:[20,20]
    }

    let myIcon = L.icon(customIcon);

    let iconOptions = {
      title:"company name",
      draggable:true,
      icon:myIcon
    }

    const map = L.map("map").setView([latitude, longitude], 50);
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
      map
    );
    L.marker([latitude, longitude], iconOptions).addTo(map);
    currLatitude = latitude;
    currLongitude = longitude;
    console.log(map)
    url(latitude, longitude)
  }

  function url(latitude, longitude) {
  let postData = {
      latitude: latitude,
      longitude: longitude,
    }

    $.ajax({
      type: "POST",
      dataType: 'text',
      url: "/",
      data: postData,
      contentType: 'application/x-www-form-urlencoded',
      cache: false,
      success : function (response) {
                  console.log(response)
                  let shareurl = document.getElementById("shareurl");
                  shareurl.textContent = "http://localhost:8080/" + response
              }
    });
  }
}

function shareLoc() {
  console.log("Shareloc")
  let postData = {
      latitude: currLatitude,
      longitude: currLongitude,
    }

    $.ajax({
      type: "POST",
      dataType: 'text',
      url: "/",
      data: postData,
      contentType: 'application/x-www-form-urlencoded',
      cache: false,
      success : function (response) {
                  console.log(response)
                  let shareurl = document.getElementById("shareurl");
                  shareurl.textContent = "http://localhost:8080/" + response
              }
    });
}

function copyLoc() {
    CopyToClipboard("shareurl")
    //const button = document.querySelector("#copylocation")
    //button.disabled = true;
}

</script>