<%- include("partials/header.ejs") %>
<div class="main">
    <h1>Hello world</h1>
    <div id="map"></div>
</div>
<script src="/socket.io.js"></script>
<script>
    const socket = io();

    let packet = {
        room: "<%= room %>"
    }

  socket.emit("join_room", packet.room)

  socket.on("location", (data) => {
    console.log(data);
    getMap(data.latitude, data.longitude);
  })

  function getMap(latitude, longitude) {
    let customIcon = {
      iconUrl: "/dogface.png",
      iconSize: [20, 20],
    };

    let myIcon = L.icon(customIcon);

    let iconOptions = {
      title: "company name",
      draggable: true,
      icon: myIcon,
    };

    const map = L.map("map").setView([latitude, longitude], 50);
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
      map
    );
    L.marker([latitude, longitude], iconOptions).addTo(map);
  }
</script>
<%- include("partials/footer.ejs") %>