<%- include("partials/header.ejs") %>
<div class="main">
    <div>
    <h1>TX:ing Loc 📻</h1>
    <img src="/shiba.gif" width="43.2px"/>
    </div>
    <div id="map"></div>
    <div>
        <button id="sharelivelocation">Share Live Location</button>
        <button id="copylivelocation">Copy Live Location to Clipboard</button>
    </div>
    <p style="color: #ba9e34" id="shareurl"></p>
</div>
<script src="/socket.io.js"></script>
<script>
document.querySelector("#copylivelocation").addEventListener("click", copyLoc);
document.querySelector("#sharelivelocation").addEventListener("click", shareLoc);
function copyLoc() {
    CopyToClipboard("shareurl")
    console.log("asd")
}
async function shareLoc() {
    const shareData = {
        title: "My Location 🐶",
        text: "My Location 🐶",
        url: "https://noclip.se/realtime/rx/" + room
    }
    try {
        await navigator.share(shareData);
    } catch (err) {
        console.log(err)
  }
}

    const socket = io();

    let map;
    let marker;
    let room;

    if (navigator.geolocation) {
        let postData = {
        latitude: navigator.geolocation.getCurrentPosition.latitude,
        longitude: navigator.geolocation.getCurrentPosition.longitude,
        }

        $.ajax({
        type: "POST",
        dataType: 'text',
        url: "/",
        data: postData,
        contentType: 'application/x-www-form-urlencoded',
        cache: false,
        success : function (response) {
                    console.log(response)
                    socket.emit("join_room", response)
                    room = response;
                    let shareurl = document.getElementById("shareurl");
                    shareurl.textContent = "https://noclip.se/realtime/rx/" + room
                }
        });

        

    const options = {timeout:60000};
    setInterval(function() {
        navigator.geolocation.getCurrentPosition(success, error, options);
    }, 1000)
  } else {
    alert("Geolocation is not supported by this browser");
  }

  function success(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;
    let packet = {
        latitude: latitude,
        longitude: longitude,
        room: room,
    }
    console.log("Sending " + latitude + longitude)
    socket.emit("location", packet)
    getMap(latitude, longitude);
  }
  function error() {
    alert("Unable to retrieve location");
  }

  function getMap(latitude, longitude) {

    let customIcon = {
      iconUrl:"/dogface.png",
      iconSize:[20,20]
    }

    let myIcon = L.icon(customIcon);

    let iconOptions = {
      title:"company name",
      draggable:true,
      icon:myIcon
    }
    if (!map) {
        map = L.map("map").setView([latitude, longitude], 50);
        console.log("here")
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(map);
        L.marker([latitude, longitude], iconOptions).addTo(map);
    } else {
        let walkingIcon = {
            iconUrl:"/shiba.gif",
            iconSize:[20,20]
        }

        let walkIcon = L.icon(walkingIcon);

        let walkOptions = {
            title:"company name",
            draggable:true,
            icon:walkIcon
        }

        if (marker) {
            map.removeLayer(marker);
            map.removeControl(marker);
            marker = L.marker([latitude, longitude], walkOptions).addTo(map);
            map.addLayer(marker)
        } else {
            marker = L.marker([latitude, longitude], walkOptions).addTo(map);
            map.addLayer(marker)
        }
    }
  }
</script>
<%- include("partials/footer.ejs") %>