<%- include("partials/header.ejs") %>
<div class="main">
    <h1>Hello world</h1>
    <div id="map"></div>
</div>
<script src="/socket.io.js"></script>
<script>
    const socket = io();

    let map;
    let marker;

    let packet = {
        room: "<%= room %>"
    }

    console.log(packet.room)

    socket.emit("join_room", packet.room)

    if (navigator.geolocation) {
    const options = {timeout:60000};
    setInterval(function() {
        navigator.geolocation.getCurrentPosition(success, error, options);
    }, 1000)
  } else {
    alert("Geolocation is not supported by this browser");
  }

  function success(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;
    let packet = {
        latitude: latitude,
        longitude: longitude,
    }
    console.log("Sending " + latitude + longitude)
    socket.emit("location", packet)
    getMap(latitude, longitude);
  }
  function error() {
    alert("Unable to retrieve location");
  }

  function getMap(latitude, longitude) {

    //clearMap();

    let customIcon = {
      iconUrl:"/dogface.png",
      iconSize:[20,20]
    }

    let myIcon = L.icon(customIcon);

    let iconOptions = {
      title:"company name",
      draggable:true,
      icon:myIcon
    }

    //const map = L.map("map").setView([latitude, longitude], 50);
    if (!map) {
        map = L.map("map").setView([latitude, longitude], 50);
        console.log("here")
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(map);
        L.marker([latitude, longitude], iconOptions).addTo(map);
    } else {
        let walkingIcon = {
            iconUrl:"/shiba.gif",
            iconSize:[20,20]
        }

        let walkIcon = L.icon(walkingIcon);

        let walkOptions = {
            title:"company name",
            draggable:true,
            icon:walkIcon
        }
        
        if (marker) {
            map.removeLayer(marker);
            map.removeControl(marker);
            marker = L.marker([latitude, longitude], walkOptions).addTo(map);
            map.addLayer(marker)
        } else {
            marker = L.marker([latitude, longitude], walkOptions).addTo(map);
            map.addLayer(marker)
        }
    }
  }

</script>
<%- include("partials/footer.ejs") %>