body {
  background-color: #ba9e34;
}

#copylocation {
  display: none;
}

#sharelocation {
  display: none;
}

/* iPhone Portrait */
@media screen and (min-width: 390px) {
  /*html {
    height: 500px;
  }*/

  button {
    background-color: #e0cc80;
    color: black;
    font-size: x-large;
    border-radius: 15px;
    text-decoration: none;
  }

  #map {
    width: 375px;
    grid-row: auto;
  }

  .main {
    display: grid;
    width: 375px;
    grid-template-rows: 60px 400px 200px;
  }

  .main > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main > div > .dog {
    background-color: #e0cc80;
    border-radius: 50%;
    font-size: xx-large;
  }

  .main > button {
    width: 70px;
    bottom: 0;
  }

  #copylocation {
    font-size: medium;
  }

  #sharelocation {
    font-size: medium;
  }

  #find-me2 {
    position: absolute;
    bottom: 120px;
  }

  #globe {
    position: absolute;
    left: 50%;
    top: 0px;
  }

  #globe > p {
    position: relative;
    left: -50%;
    font-size: 191px;
  }

  #dog {
    position: absolute;
    left: 50%;
    top: 240px;
  }

  #dog > p {
    position: relative;
    left: -50%;
    font-size: 40px;
  }
}

/* iPhone landscape */
@media screen and (min-width: 926px) {
  button {
    background-color: #e0cc80;
    color: black;
    font-size: x-large;
    border-radius: 15px;
    text-decoration: none;
  }

  #map {
    width: 850px;
    grid-row: auto;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }

  .main {
    display: grid;
    width: 900px;
    grid-template-rows: 60px 400px 200px;
  }

  .main > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main > div > .dog {
    background-color: #e0cc80;
    border-radius: 50%;
    font-size: xx-large;
  }

  .main > button {
    width: 70px;
    bottom: 0;
  }

  #copylocation {
    font-size: medium;
  }

  #sharelocation {
    font-size: medium;
  }

  #find-me2 {
    position: absolute;
    top: 330px;
    height: 40px;
  }

  #find-me-live {
    position: absolute;
    bottom: 70px;
  }

  #globe {
    position: absolute;
    left: 50%;
    top: -160px;
  }

  #globe > p {
    position: relative;
    left: -50%;
    font-size: 191px;
  }

  #dog {
    position: absolute;
    left: 50%;
    top: 80px;
  }

  #dog > p {
    position: relative;
    left: -50%;
    font-size: 40px;
  }
}

/* iPad Portrait */
@media screen and (min-width: 810px) {
  button {
    background-color: #e0cc80;
    color: black;
    font-size: x-large;
    border-radius: 15px;
    text-decoration: none;
  }

  #map {
    width: 790px;
    grid-row: auto;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }

  .main {
    display: grid;
    width: 790px;
    grid-template-rows: 60px 500px 200px;
  }

  .main > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main > div > .dog {
    background-color: #e0cc80;
    border-radius: 50%;
    font-size: xx-large;
  }

  .main > button {
    width: 70px;
    bottom: 0;
  }

  #copylocation {
    font-size: medium;
  }

  #sharelocation {
    font-size: medium;
  }

  #find-me2 {
    position: absolute;
    bottom: 350px;
  }

  #globe {
    position: absolute;
    left: 50%;
    top: -0px;
  }

  #globe > p {
    position: relative;
    left: -50%;
    font-size: 191px;
  }

  #dog {
    position: absolute;
    left: 50%;
    top: 240px;
  }

  #dog > p {
    position: relative;
    left: -50%;
    font-size: 40px;
  }
}

/* iPad Landscape */
@media screen and (min-width: 1080px) {
  button {
    background-color: #e0cc80;
    color: black;
    font-size: x-large;
    border-radius: 15px;
    text-decoration: none;
  }

  #map {
    width: 1050px;
    grid-row: auto;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }

  .main {
    display: grid;
    width: 1060px;
    grid-template-rows: 60px 550px 200px;
  }

  .main > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main > div > .dog {
    background-color: #e0cc80;
    border-radius: 50%;
    font-size: xx-large;
  }

  .main > button {
    width: 70px;
    bottom: 0;
  }

  #copylocation {
    font-size: medium;
  }

  #sharelocation {
    font-size: medium;
  }

  #find-me2 {
    position: absolute;
    top: 620px;
  }

  #find-me-live {
    position: absolute;
    bottom: 200px;
  }

  #globe {
    position: absolute;
    left: 50%;
    top: -0px;
  }

  #globe > p {
    position: relative;
    left: -50%;
    font-size: 191px;
  }

  #dog {
    position: absolute;
    left: 50%;
    top: 240px;
  }

  #dog > p {
    position: relative;
    left: -50%;
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  button {
    background-color: #e0cc80;
    color: black;
    font-size: x-large;
    border-radius: 15px;
    text-decoration: none;
  }

  #map {
    width: 95%;
    grid-row: auto;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }

  .main {
    display: grid;
    width: 100%;
    grid-template-rows: 60px 600px 100px;
  }

  .main > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main > div > .dog {
    background-color: #e0cc80;
    border-radius: 50%;
    font-size: xx-large;
  }

  .main > button {
    width: 70px;
    bottom: 0;
  }

  #copylocation {
    font-size: medium;
  }

  #sharelocation {
    font-size: medium;
  }

  #find-me2 {
    position: absolute;
    bottom: 100px;
  }
}
